.body {
  &--white {
    background-color: var(--white-5);
  }
  &--light-gray {
    background-color: var(--gray-4);
  }
  &--gray {
    background-color: var(--gray-7);
  }
  &--dark-gray {
    background-color: var(--black-1);
  }
}
