.scrollbar {

  --thumb-color: var(--primary-5);
  --thumb-color-hover: var(--primary-7);
  --track-color: var(--blue-4);

  scrollbar-color: var(--thumb-color) var(--track-color);
  scrollbar-width: thin;

  &:hover {
    scrollbar-color: var(--thumb-color-hover) var(--track-color);
  }

}
