.text-align {
  &--center {
    text-align: center;
  }
  &--justify {
    text-align: justify;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    .#{$breakpoint}\:text-align {
      &--center {
        text-align: center;
      }
      &--justify {
        text-align: justify;
      }
      &--left {
        text-align: left;
      }
      &--right {
        text-align: right;
      }
    }
  }
}

.text-underline-animated {
  @include animated-underline-color(var(--black-5));
  @each $color, $tones in $colors {
    @for $i from 1 through length($tones) {
      &--#{$color}-#{$i} {
        @include animated-underline-color(nth($tones, $i));
      }
    }
  }
}
