.text-align {
  &--center {
    text-align: center;
  }
  &--justify {
    text-align: justify;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    .#{$breakpoint}\:text-align {
      &--center {
        text-align: center;
      }
      &--justify {
        text-align: justify;
      }
      &--left {
        text-align: left;
      }
      &--right {
        text-align: right;
      }
    }
  }
}

.text-decoration {
  &--none {
    text-decoration: none;
  }
  &--underline {
    text-decoration: underline;
  }
}

.text-underline-animated {
  @include animated-underline-color(var(--black-5));
  @each $color, $tones in $colors {
    @for $i from 1 through length($tones) {
      &--#{$color}-#{$i} {
        @include animated-underline-color(nth($tones, $i));
      }
    }
  }
}

.text-underline-animated-transition {
  @include animated-underline-color(var(--black-5), var(--white-5));
  @each $color, $tones in $colors {
    @for $i from 1 through length($tones) {
      @each $color2, $tones2 in $colors {
        @for $j from 1 through length($tones2) {
          &--#{$color}-#{$i}-#{$color2}-#{$j} {
            @include animated-underline-color(nth($tones, $i), nth($tones2, $j));
          }
        }
      }
    }
  }
}
