@mixin text-shadow($color) {
  text-shadow: $color 1px 0 10px;
}

@mixin box-shadow($color) {
  -webkit-box-shadow: 2px 10px 24px $color;
  -moz-box-shadow: 2px 10px 24px $color;
  box-shadow: 2px 10px 24px $color;
}

@mixin scroll-bar($track-color, $thumb-color, $thumb-color-hover) {

  scrollbar-color: #{$thumb-color} #{$track-color};
  scrollbar-width: thin;

  &:hover {
    scrollbar-color: #{$thumb-color-hover} #{$track-color};
  }

}
