:root{
  @for $i from 1 through length($margins){
    --margin-#{$i}: #{nth($margins, $i)};
  }
}

@for $i from 1 through length($margins){
  .margin-#{$i}{
    margin: nth($margins, $i);
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    @for $i from 1 through length($margins){
      .#{$breakpoint}\:margin-#{$i}{
        margin: nth($margins, $i);
      }
    }
  }
}

@for $i from 1 through length($margins){
  .margin-x-#{$i}{
    margin-left: nth($margins, $i);
    margin-right: nth($margins, $i);
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    @for $i from 1 through length($margins){
      .margin-x-#{$i}{
        margin-left: nth($margins, $i);
        margin-right: nth($margins, $i);
      }
    }
  }
}

@for $i from 1 through length($margins){
  .margin-y-#{$i}{
    margin-top: nth($margins, $i);
    margin-bottom: nth($margins, $i);
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    @for $i from 1 through length($margins){
      .margin-y-#{$i}{
        margin-top: nth($margins, $i);
        margin-bottom: nth($margins, $i);
      }
    }
  }
}

@for $i from 1 through length($margins){
  .margin-top-#{$i}{
    margin-top: nth($margins, $i);
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    @for $i from 1 through length($margins){
      .margin-top-#{$i}{
        margin-top: nth($margins, $i);
      }
    }
  }
}

@for $i from 1 through length($margins){
  .margin-right-#{$i}{
    margin-right: nth($margins, $i);
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    @for $i from 1 through length($margins){
      .margin-right-#{$i}{
        margin-right: nth($margins, $i);
      }
    }
  }
}

@for $i from 1 through length($margins){
  .margin-bottom-#{$i}{
    margin-bottom: nth($margins, $i);
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    @for $i from 1 through length($margins){
      .margin-bottom-#{$i}{
        margin-bottom: nth($margins, $i);
      }
    }
  }
}

@for $i from 1 through length($margins){
  .margin-left-#{$i}{
    margin-left: nth($margins, $i);
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    @for $i from 1 through length($margins){
      .margin-left-#{$i}{
        margin-left: nth($margins, $i);
      }
    }
  }
}
