:root{
  @for $i from 1 through length($margins){
    --margin-#{$i - 1}: #{nth($margins, $i)};
  }
}

@for $i from 1 through length($margins){
  .margin-#{$i - 1}{
    margin: nth($margins, $i);
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    @for $i from 1 through length($margins){
      .#{$breakpoint}\:margin-#{$i - 1}{
        margin: nth($margins, $i);
      }
    }
  }
}

@for $i from 1 through length($margins){
  .margin-x-#{$i - 1}{
    margin-left: nth($margins, $i);
    margin-right: nth($margins, $i);
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    @for $i from 1 through length($margins){
      .#{$breakpoint}\:margin-x-#{$i - 1}{
        margin-left: nth($margins, $i);
        margin-right: nth($margins, $i);
      }
    }
  }
}

@for $i from 1 through length($margins){
  .margin-y-#{$i - 1}{
    margin-top: nth($margins, $i);
    margin-bottom: nth($margins, $i);
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    @for $i from 1 through length($margins){
      .#{$breakpoint}\:margin-y-#{$i - 1}{
        margin-top: nth($margins, $i);
        margin-bottom: nth($margins, $i);
      }
    }
  }
}

@for $i from 1 through length($margins){
  .margin-top-#{$i - 1}{
    margin-top: nth($margins, $i);
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    @for $i from 1 through length($margins){
      .#{$breakpoint}\:margin-top-#{$i - 1}{
        margin-top: nth($margins, $i);
      }
    }
  }
}

@for $i from 1 through length($margins){
  .margin-right-#{$i - 1}{
    margin-right: nth($margins, $i);
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    @for $i from 1 through length($margins){
      .#{$breakpoint}\:margin-right-#{$i - 1}{
        margin-right: nth($margins, $i);
      }
    }
  }
}

@for $i from 1 through length($margins){
  .margin-bottom-#{$i - 1}{
    margin-bottom: nth($margins, $i);
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    @for $i from 1 through length($margins){
      .#{$breakpoint}\:margin-bottom-#{$i - 1}{
        margin-bottom: nth($margins, $i);
      }
    }
  }
}

@for $i from 1 through length($margins){
  .margin-left-#{$i - 1}{
    margin-left: nth($margins, $i);
  }
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    @for $i from 1 through length($margins){
      .#{$breakpoint}\:margin-left-#{$i - 1}{
        margin-left: nth($margins, $i);
      }
    }
  }
}

.margin-auto {
  margin: auto;
}

.margin-top-auto {
  margin-top: auto;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

@each $breakpoint, $size in $break-points {
  @media (min-width: #{$size}) {
    .#{$breakpoint}\:margin-auto {
      margin: auto;
    }

    .#{$breakpoint}\:margin-top-auto {
      margin-top: auto;
    }

    .#{$breakpoint}\:margin-bottom-auto {
      margin-bottom: auto;
    }

    .#{$breakpoint}\:margin-left-auto {
      margin-left: auto;
    }

    .#{$breakpoint}\:margin-right-auto {
      margin-right: auto;
    }

    .#{$breakpoint}\:margin-y-auto {
      margin-top: auto;
      margin-bottom: auto;
    }

    .#{$breakpoint}\:margin-x-auto {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
